body, html {
	border: 0;
	margin: 3px 0 0;
	padding: 0;
}
.ala-embedded-comment {
	background: #fff;
	display: block;
	font: normal 14px/1.6 Georgia, serif;
	min-height: 96px;
	padding: 12px 11px;
}
::selection {
	background: #ddd;
	color: #000;
}
a {
	color: #2455c3;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.ala-embedded-comment p {
	clear: both;
	margin: 10px 0;
}
.ala-embedded-comment blockquote {
	font-style: italic;
	border-left: 1px dotted #bdbdbd;
	padding-left: 12px;
	margin-left: 6px;
}

.commenter-avatar {
	border-radius: 5px;
	display: block;
	float: left;
	margin-top: -3px;
	margin-right: 12px;
	margin-bottom: 8px;
	overflow: hidden;
}
.commenter-avatar img {
	line-height: .5;
	float: left;
}
.commenter-name {
	font: bold 18px/1 sans-serif;
}
.comment-meta {
	color: #666;
	display: block;
	font: normal 11px/1 sans-serif;
	margin: .65em 0;
	text-decoration: none;
}